<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>iDesign</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.7/css/all.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="..//static/css/contactstyle.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <script src="../static/js/script.js" defer></script>
  </head>
  <body>
    <div class="header">
      <div class="container">
        <a href="index.html">
          <img class="logo" src="..//static/images/logo.png" />
        </a>

        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="pergolas.html">Pergolas</a></li>

          <li><a id="active"  href="../templates/contact.html">Contact</a></li>
          <li>
            <a href="../templates/login.html"
              ><i class="far fa-user"></i> Log in
            </a>
          </li>
        </ul>
      </div>
    </div>
            <div class="form">
          <h3>
            IF YOU GOT ANY QUESTION <br />
            PLEASE DO NOT HESITATE TO SEND US A MESSAGE
          </h3>

            <input type="text" placeholder="Name" id="emri" />
            <input type="email" placeholder="Email" id="email" required />
            <input type="text" placeholder="Subject" />
            <textarea
              name="message"
              placeholder="Message"
              cols="5"
              id="mesazhi"
            ></textarea>
            <button type="submit" onclick="return contactform()">
              SEND MESSAGE
            </button>


        </section>

        <div class="contact-section">

          <div class="contact phone">
            <i class="fa fa-phone"></i>
            <h2>PHONE</h2>
            <p>+383 49/123456</p>
            <p>+383 44/123456</p>
          </div>

          <div class="contact  address">
            <i class="fa fa-map-marker"></i>
            <h2>ADDRESS</h2></li>
            <p>Prishtine</p>
            <p>Kosove</p>
          </div>

          <div class="contact  email">
            <i class="fa fa-envelope"></i>
            <h2>ADDRESS</h2></li>
            <p>idesign@gmail.com</p>
            <p>idesign@hotmail.com</p>
          </div>
        </div>
      </div>
    </div>
    <div class="footback">
      <div class="footer">
        <img class="logo" src="../static/images/logo.png" />
        <div id="contact">
          <p>An interior design company in Kosovo</p>
          <p>idesignkosovo@gmail.com</p>
          <p>+383 49123456 / +383 44123456</p>
          <p>Prishtina / Kosovo</p>

          <p style="color: #cbcbb3">
            &copy; Copyright 2020 iDesign Inc. All right reserved.
          </p>
        </div>
        <div class="socialmedia">
          <i class="fab fa-facebook"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-linkedin"></i>
        </div>
      </div>
    </div>
  </body>
</html>
