<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>iDesign</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.7/css/all.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="..//static/css/indexstyle.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="header">
      <div class="container">
        <a href="index.html">
          <img class="logo" src="..//static/images/logo.png" />
        </a>

        <ul>
          <li><a id="active" href="#">Home</a></li>
          <li><a href="pergolas.html">Pergolas</a></li>

          <li><a href="../templates/contact.html">Contact</a></li>
          <li>
            <a href="../templates/login.html"
              ><i class="far fa-user"></i> Log in
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="banner">
      <div class="titulli">
        <h1>We offer you the beauty of suitability.</h1>
      </div>
    </div>
    <section class="section1">
      <div class="lights">
        <h2>Outdoor lighting</h2>
        <p>
          In our outdoor lightingsection, you can find everything from wall
          lamps to hanging lamps. All of <br />
          them, complemented by LED bulbs will give a fantastic touch to your
          garden.
        </p>
        <div class="photos">
          <div class="photo">
            <img src="../static/images/lamp1.png" alt="" />
            <h4>Komorebi Pendant Lamp</h4>
            <p>$545.00</p>
          </div>

          <div class="photo">
            <img src="../static/images/lamp2.png" alt="" />
            <h4>Komorebi floor lamp</h4>
            <p>$545.00</p>
          </div>
          <div class="photo">
            <img src="../static/images/lamp3.png" alt="" />
            <h4>Outdoor wooden lamp</h4>
            <p>$1,425.00</p>
          </div>
          <div class="photo">
            <img src="../static/images/lamp4.png" alt="" />
            <h4>Outdoor spherical lamp</h4>
            <p>$219.00</p>
          </div>
        </div>
        <button class="btn">SEE ALL THE LIGHTING</button>
      </div>
    </section>
    <section class="section2">
      <h2>Garden accessories</h2>
      <p>
        Don't know how to create your ideal garden? With iDesign's Essentials
        collection, you can add a <br />
        new touch to your terrace without much effort. You'll just have to know
        how to place them. And, if <br />
        you don't dare, contact us. Our decorators will advise you.
      </p>
      <div class="photos">
        <div class="photo">
          <img src="../static/images/acc.jpg" alt="" />
          <h4>Cesto Hamper</h4>
          <p>$219</p>
        </div>
        <div class="photo">
          <img src="../static/images/acc2.jpg" alt="" />
          <h4>Aladdin Carpet</h4>
          <p>$869.00</p>
        </div>
        <div class="photo">
          <img src="../static/images/acc3.png" alt="" />
          <h4>
            Polyethylene outdoor <br />
            gardener
          </h4>
          <p>$239.00</p>
        </div>
        <div class="photo">
          <img src="../static/images/acc4.jpg" alt="" />
          <h4>Paxos outdoor polyethylene gardener</h4>
          <p>$159.00</p>
        </div>
      </div>
      <button class="btn">SEE ALL THE LIGHTING</button>
    </section>

    <footer>
      <div class="footer-content">
        <img class="logo" id="logoo" src="../static/images/logo.png" />
        <div class="contact">
          <p>An interior design company in Kosovo</p>
          <a href="#">idesignkosovo@gmail.com</a>
          <p>+383 49123456 / +383 44123456</p>
          <p>Prishtina / Kosovo</p>

          <p style="color: #cbcbb3">
            &copy; Copyright 2020 iDesign Inc. All right reserved.
          </p>
        </div>
        <div class="socialmedia">
          <i class="fab fa-facebook"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-linkedin"></i>
        </div>
      </div>
    </footer>
  </body>
</html>
