<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>iDesign</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.7/css/all.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/css/pergolasstyle.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="header">
      <div class="container">
        <a href="index.html">
          <img class="logo" src="..//static/images/logo.png" />
        </a>

        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a id="active" href="pergolas.html    ">Pergolas</a></li>

          <li><a href="../templates/contact.html">Contact</a></li>
          <li>
            <a href="../templates/login.html"
              ><i class="far fa-user"></i> Log in
            </a>
          </li>
        </ul>
      </div>
    </div>
    <section class="section1">
      <h1>Standart Pergolas</h1>
      <h3>
        A chill out space,a romantic corner,an atmosphere to enjoy with
        family...
      </h3>
      <div class="photos">
        <div class="photo">
          <img src="../static/images/pergola1.png" />
          <h3>Camas</h3>
          <button class="btn">SEE PERGOLA</button>
        </div>
        <div class="photo">
          <img src="../static/images/pergola2.jpg" />
          <h3>Biosolar</h3>
          <button class="btn">SEE PERGOLA</button>
        </div>
      </div>
    </section>
    <section class="section2">
      <div class="content2">
        <h1>Bioclimatic Pergolas</h1>
        <h3>CREATING THERMALLY COMFORTABLE SPACES</h3>
        <p>
          A bioclimatic pergola is a structure that protects from the external
          elements naturally. <br />
          Bioclimatic pergolas are able to regulate the temperature naturally
          with the opening or closing of <br />
          their slats. In addition, thanks to its extruded aluminum
          structure,the strength and <br />
          durability of our structures are guaranteed.
        </p>
        <img src="../static/images/foto3.jpg" />
        <h3>Bioclimatic pergola of Bioshade aluminum slats</h3>
        <p>
          Protect yourself from scorching sun and summer storm rain with
          Bioshade.
        </p>
        <button class="btn">SEE PERGOLA</button>
      </div>
    </section>
    <section class="section3">
      <h1>Wood Pergolas</h1>
      <div class="photos">
        <div class="photo">
          <img src="../static/images/foto4.jpg" />
          <h3>Camas</h3>
          <button class="btn">SEE PERGOLA</button>
        </div>
        <div class="photo">
          <img src="../static/images/foto5.jpg" />
          <h3>Biosolar</h3>
          <button class="btn">SEE PERGOLA</button>
        </div>
      </div>
    </section>

    <footer>
      <div class="footer-content">
        <img class="logo" src="../static/images/logo.png" />
        <div id="contact">
          <p>An interior design company in Kosovo</p>
          <a href="#">idesignkosovo@gmail.com</a>
          <p>+383 49123456 / +383 44123456</p>
          <p>Prishtina / Kosovo</p>

          <p style="color: #cbcbb3">
            &copy; Copyright 2020 iDesign Inc. All right reserved.
          </p>
        </div>
        <div class="socialmedia">
          <i class="fab fa-facebook"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-linkedin"></i>
        </div>
      </div>
    </footer>
  </body>
</html>
